.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://i.imgur.com/MLL9xUy.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.container-header {
    display: flex;
    justify-content: center;
}

.header-buttons {
    display: flex;
    justify-content: center;
}